* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8F9FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100vh;

}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6C757D;
    font-size: 27px;
    padding: 50px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    word-spacing: 6px;
}

nav {
    color: #c9cdd1;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    display: flex;
    gap: 32px;
}

a:hover {
    color: #918f8e;
    text-decoration: underline;
}

.main {
    width: 100%;
    height: 80vhS;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 40px;
    /*background-color: brown;*/
    padding-top: 20px;
}

.foto {
    width: 150px;
    height: 150px;
   /* background-color: chartreuse;*/
    padding-top: 30px;
}

.texto {
    text-align: justify;
    width: 65vw;
    height: 80vh;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:#92989e;
    letter-spacing: 1px;
    line-height: 20px;
   /* background-color: blue;*/
}  

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

h3 {
    border-top: 0.4px solid #bbb8b5;
    padding-top: 25px;
    color:#868686;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.email-tel {
    color: #727272;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}    

.container {
    width: 100%;
    height: 20vh;
    background-color: #212529;
    position: relative;
    
}

.redes-sociais {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista-redes-sociais {
    list-style: none;
}

.links-redes-sociais {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.links {
    color: #bdbcbc;
}

    
   


